@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
body {
  background-color: #f2f2f2;
  font-family: 'Raleway';
  margin: 0px;
}
h1{
  font-weight: 900px;
}
span{
  font-weight: bold;
}
#topPage {
  display: flex;
  height: auto;
}
.logo img {
  height: 90px;
}
nav {
  justify-content: space-between;
  width: 40%;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  margin-left: auto;
}
nav span{
  cursor: pointer;
}
nav span:hover{
  text-decoration: overline;
  color: #0065FC;
}
.bloc0{
  display: flex;
  margin-top: 30px;
  margin-left: 3px;
}
.bloc0 input{
  height: 35px;
  width: 150px;
  text-align: center;
  border: none;
}
 .recherche{
  background-color: #0065FC;
  color: white;
  border-radius: 0px 40px 40px 0px;
  border: hidden;
  height: 35px;
  font-size: large;
} 
.icon0{
  height: 35px;
  width: 30px;
  text-align: center;
  background-color: #ebe7e7;
  border-radius: 20px 0px 0px 20px;
}
.icon0 i{
  font-size: x-large;
  margin-top: 5px;
}
.container{
  display: flex;
  margin-top: 30px;
  align-items: center;
}
.bloc{
  border: 1px solid rgba(0, 0, 0, 0.178);
  border-radius: 30px;
  width: 200px;
  background-color: #FFF;
  display: flex;
  margin-left: 25px;
}
.container input{
  height: 30px;
  width: 150px;
  text-align: center;
}
.icon{
  background-color: #DEEBFF;
  height: 30px;
  margin-top: 1px;
  border-radius: 100%;
  height: 30px;
  width: 30px;
}
.icon i{
  color: #0065FC;
  margin-top: 5px;
  margin-left: 8px;
}
.text{
  border: hidden;
  font-size: large;
}
.titre{
  position: absolute;
  margin-left: 20px;
}
.titreBas{
  margin-left: 20px;
}
.photoHautGauche{
  margin-top: 30px;
  background-color: #ebe7e7;
  display: grid;
  max-width: 900px;
  min-width: 200px;
  height: 700px;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 30px;
  align-items: center;
}
.img{
  background-color: #FFF;
  height: 220px;
  width: 260px;
  margin-top: 70px;
  margin-left: 20px;
  border-radius: 20px;
}
.img:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.img img{
  margin-left: 5px;
  margin-top: 5px;
}
.img span{
  margin-left: 10px;
}
.photoHautGauche span:nth-child(2){
  font-weight: bold;
}
.img i{
  margin-left: 10px;
  color: #0065fc;
}
.img i:nth-child(5){
  color: rgba(0, 0, 0, 0.178);
}
.img01{
  background-color: #FFF;
  height: 220px;
  width: 260px;
  margin-top: 70px;
  margin-left: 20px;
  border-radius: 20px;
}
.img01:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.img01 img{
  margin-left: 5px;
  margin-top: 5px;
}
.img01 span{
  margin-left: 10px;
}
.img01 i{
  margin-left: 10px;
  color: #0065FC;
}
.img02{
  background-color: #FFF;
  height: 220px;
  width: 260px;
  margin-top: 70px;
  margin-left: 20px;
  border-radius: 20px;
}
.img02:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.img02 img{
  margin-left: 5px;
  margin-top: 5px;
}
.img02 span{
  margin-left: 10px;
}
.img02 i{
  margin-left: 10px;
  color: #0065FC;
}
.img02 i:nth-child(5){
  color: rgba(0, 0, 0, 0.178);
}
.img03{
  background-color: #FFF;
  height: 220px;
  width: 260px;
  margin-top: 70px;
  margin-left: 20px;
  border-radius: 20px;
}
.img03:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.img03 img{
  margin-left: 5px;
  margin-top: 5px;
}
.img03 span{
  margin-left: 10px;
}
.img03 i{
  margin-left: 10px;
  color: #0065FC;
}
.img03 i:nth-child(4){
  color:rgba(0, 0, 0, 0.178)
}
.img03 i:nth-child(5){
  color: rgba(0, 0, 0, 0.178);
}
.img04{
  background-color: #FFF;
  height: 220px;
  width: 260px;
  margin-top: 70px;
  margin-left: 20px;
  border-radius: 20px;
}
.img04:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.img04 img{
  margin-left: 5px;
  margin-top: 5px;
}
.img04 span{
  margin-left: 10px;
}
.img04 i{
  margin-left: 10px;
  color: #0065FC;
}
.img04 i:nth-child(5){
  color: rgba(0, 0, 0, 0.178);
}
.img05{
  background-color: #FFF;
  height: 220px;
  width: 260px;
  margin-top: 70px;
  margin-left: 20px;
  border-radius: 20px;
}
.img05:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.img05 img{
  margin-left: 5px;
  margin-top: 5px;
}
.img05 span{
  margin-left: 10px;
}
.img05 i{
  margin-left: 10px;
  color: #0065FC;
}
.photoHautGauche img{
  border-radius: 20px 20px 0px 0px;
  height: 150px;
  width: 250px;
}
.photoHautDroite{
  height: 700px;
  width: 330px;
  border-radius: 20px;
  float: right;
  margin-top: -700px;
  margin-right: 10px;
  background-color: #ebe7e7;
}
.photoHautDroite h2 i:nth-child(1){
  margin-left: 60px;
}
.img1{
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  height: 170px;
  width: 310px;
  margin-top: 80px;
  margin-left: 10px;
  margin-bottom: -50px;
  display: flex;
}
.img1:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.img1 img{
  margin-top: 10px;
  margin-left: 5px;
  border-radius: 30px;
  height: 150px;
  width: 150px;
}
.span{
  height: 40px;
  width: 120px;
  margin-top: 10px;
  margin-left: 10px;
}
.photoHautDroite span:nth-child(1){
  font-weight: bold;
}
.img0{
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  height: 170px;
  width: 310px;
  margin-top: 80px;
  margin-left: 10px;
  margin-bottom: -50px;
  display: flex;
}
.img0 img{
  margin-top: 10px;
  margin-left: 5px;
  border-radius: 30px;
  height: 150px;
  width: 150px;
}
.img0:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.etoile{
  margin-top: 60px;
  color: #0065fc;
}
.img1 i:nth-child(5){
  color: rgba(0, 0, 0, 0.178);
}
.photoBasGauche{
  background-color: #f2f2f2;
  margin-top: 30px;
  margin-left: 10px;
  height: 600px;
  width: 50%;
  border-radius: 20px 0px 0px 20px;
  display: flex;
}
.imageBasGauche1{
  width: 240px;
  margin-left: 10px;
  height: 500px;
  margin-top: 50px;
  background-color: #FFF;
  border-radius: 20px;
}
.imageBasGauche1 img{
  width: 240px;
  height: 450px;
  border-radius: 20px 20px 0px 0px;
  margin-bottom: 10px;
}
.imageBasGauche1:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.imageBasGauche1 span{
  font-weight: bold;
  margin-left: 10px;
}
.imageBasGauche2{
  margin-left: 40px;
  margin-top: 50px;
  height: 250px;
  width: 300px;
  background-color: #FFF;
  border-radius: 20px;
}
.imageBasGauche2 img{
  height: 200px;
  width: 300px;
  border-radius: 20px 20px 0px 0px;
  margin-bottom: 10px;
}
.imageBasGauche2:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.imageBasGauche2 span{
  font-weight: bold;
  margin-left: 10px;
}
.imageBasGauche3{
  height: 200px;
  width: 300px;
  margin-top: 350px;
  margin-left: -300px;
  background-color: #FFF;
  border-radius: 20px;
}
.imageBasGauche3 img{
  height: 150px;
  width: 300px;
  border-radius: 20px 20px 0px 0px;
  margin-bottom: 10px;
}
.imageBasGauche3:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.imageBasGauche3 span{
  font-weight: bold;
  margin-left: 10px;
}
.photoBasDroite{
  float: right;
  margin-top: -600px;
  background-color: #f2f2f2;
  height: 600px;
  width: 50%;
  display: flex;
  border-radius: 0px 20px 20px 0px;
}
.imageBasDroite1{
  width: 240px;
  height: 500px;
  margin-top: 50px;
  background-color: #FFF;
  border-radius: 20px;
}
.imageBasDroite1 img{
  width: 240px;
  height: 450px;
  border-radius: 20px 20px 0px 0px;
  margin-bottom: 10px;
}
.imageBasDroite1:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.imageBasDroite1 span{
  font-weight: bold;
  margin-left: 10px;
}
.imageBasDroite2{
  margin-left: 40px;
  margin-top: 50px;
  height: 250px;
  width: 300px;
  background-color: #FFF;
  border-radius: 20px;
}
.imageBasDroite2 img{
  height: 200px;
  width: 300px;
  border-radius: 20px 20px 0px 0px;
  margin-bottom: 10px;
}
.imageBasDroite2:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.imageBasDroite2 span{
  font-weight: bold;
  margin-left: 10px;
}
.imageBasDroite3{
  background-color: #FFF;
  height: 200px;
  width: 300px;
  margin-top: 350px;
  margin-left: -300px;
  border-radius: 20px;
}
.imageBasDroite3 img{
  height: 150px;
  width: 300px;
  border-radius: 20px 20px 0px 0px;
  margin-bottom: 10px;
}
.imageBasDroite3:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.imageBasDroite3 span{
  font-weight: bold;
  margin-left: 10px;
}
footer{
  background-color:#ebe7e7;
  height: auto;
  width: auto;
  padding-top: 50px;
  display: flex;
}
.footerPropos{
  margin-left: 25px;
  line-height: 30px;
}
.footerHebergement{
  margin-left: 200px;
  line-height: 30px;
}
.footerAssistance{
  margin-left: 250px;
  line-height: 30px;
}



/* ICI C EST POUR LES PLUS PETITS ECRAN */
@media  screen and (max-width: 1230px) {
  body{
    margin-left: auto;
    margin-right: auto;
  }
  .blocPhotoHautDroiteGauche{
    display: block;
    height: auto;
    margin-left: 150px;
    width: 900px;
  }
  .photoHautDroite{
    display: flex;
    margin-top: -1000px;
    height: 270px;
    width: 1000px;
  }
  .titre i{
    float: right;
    margin-right: -700px;
  }
  .photoHautGauche{
    margin-top: 300px;
    margin-left: -110px;
  }








}
/* *************** ECRAN TELEPHONE******************************* */
@media screen and (max-width: 500px)
{
  /* .recherche{
    <i class="fas fa-search"></i>
  } */
  body{
    margin-left: auto;
    margin-right: auto;
  }
  .inscrire{
    margin-right: 60px;
  }
  .activite{
    margin-top: 100px;
   margin-left: 70px;
  }
  .hebergement{
    margin-top: 100px;
    margin-left: -220px;
  }
  .logo img{
    width: 60%;
    margin-left: 10px;
  }
  .titres{
    margin-left: 20px;
    margin-right: auto;
    width: min-content;
    width: 390px;
  }
  nav span:hover{
    text-decoration: underline;
    color: #0065FC;
  }
  .sousTitre{
    margin-left: 20px;
  }
  .bloc0{
    margin-left: 20px;
  }
  .bloc{
    border: none;
    margin-top: 10px;
    margin-right: 215px;
    width: 190px;
  }
  .bloc:nth-child(3){
    margin-left: 430px;
    margin-top: -35px;
  }
  .container{
    flex-direction: column;
  }
  .blocPhotoHautDroiteGauche{
    display: block;
    align-content: center;
    width: 340px;
    margin-top: -270px;
    margin-left: auto;
    margin-right: auto;
    height: 2000px;
  }
  .photoHautDroite{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    height: 700px;
    width: 330px;
  }
  .photoHautGauche{
    background-color: #f2f2f2;
    height: auto;
    display: block;
    width: 310px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
  }
  .img{
    width: 310px;
    margin-left: auto;
    margin-right: auto;
  }
   .img img{
    width: 300px;
  } 
  .img01{
    width: 310px;
    margin-left: auto;
    margin-right: auto;
  }
  .img01 img{
    width: 300px;
  }
  .img02{
    width: 310px;
    margin-left: auto;
    margin-right: auto;
  }
  .img02 img{
    width: 300px;
  }
  .img03{
    width: 310px;
    margin-left: auto;
    margin-right: auto;
  }
  .img03 img{
    width: 300px;
  }
  .img04{
    width: 310px;
    margin-left: auto;
    margin-right: auto;
  }
  .img04 img{
    width: 300px;
  }
  .img05{
    width: 310px;
    margin-left: auto;
    margin-right: auto;
  }
  .img05 img{
    width: 300px;
  }
  .blocPhotoBasGaucheDroite{
    height: 1500px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
  .photoBasGauche{
    background-color: #f2f2f2;
    display: block;
    height: auto;
    width: 320px;
    margin-top: 570px;
    margin-left: auto;
    margin-right: auto;
  }
  .imageBasGauche1{
    height: 200px;
    width: 310px;
    margin-left: auto;
    margin-right: auto;
  }
  .imageBasGauche1 img{
    height: 150px;
    width: 300px;
    margin-left: 5px;
    margin-top: 5px;
  }
  .imageBasGauche2{
    height: 200px;
    width: 310px;
    margin-left: auto;
    margin-right: auto;
  }
  .imageBasGauche2 img{
    height: 150px;
    width: 300px;
    margin-left: 5px;
    margin-top: 5px;
  }
  .imageBasGauche3{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 310px;
  }
  .imageBasGauche3 img{
    height: 150px;
    width: 300px;
    margin-left: 5px;
    margin-top: 5px;
  }
  .photoBasDroite{
    display: block;
    margin-top: auto;
    height: auto;
    margin-left: auto;
    width: 310px;
  }
  .imageBasDroite1{
    height: 200px;
    width: 310px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
  .imageBasDroite1 img{
    height: 150px;
    width: 300px;
    margin-left: 5px;
    margin-top: 5px;
  }
  .imageBasDroite2{
    height: 200px;
    width: 310px;
    margin-left: auto;
    margin-right: auto;
  }
  .imageBasDroite2 img{
    height: 150px;
    width: 300px;
    margin-left: 5px;
    margin-top: 5px;
  }
  .imageBasDroite3{
    height: 200px;
    width: 310px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
  .imageBasDroite3 img{
    height: 150px;
    width: 300px;
    margin-left: 5px;
    margin-top: 5px;
  }
  footer{
    flex-direction: column;
    width: 310px;
    height: 300px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #f2f2f2;
  }
  .footerHebergement{
    margin-left: 20px;
  }
  .footerAssistance{
    margin-left: 20px;
  }
}







