body {
  background-color: #f2f2f2;
  width: auto;
}
#topPage {
  display: flex;
  height: auto;
}
.logo {
  width: 70%;
}
.nav {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}
.villes{
  border: hidden;
  font-size: large;
}
.recherche{
  background-color: #0065fc;
  color: white;
  border-radius: 0px 40px 40px 0px;
  border: hidden;
  font-size: large;
}
.container{
  display: flex;
  margin-top: 30px;
  align-items: center;
}
.bloc{
  border: 1px solid rgba(0, 0, 0, 0.178);
  border-radius: 30px;
  width: 200px;
  background-color: #FFF;
  display: flex;
  margin-left: 25px;
}
.container input{
  height: 30px;
  width: 150px;
  text-align: center;
}
.icon{
  background-color: #a1b6fc;
  height: 30px;
  margin-top: 1px;
  border-radius: 100%;
  height: 30px;
  width: 30px;
}
.icon i{
  color: #0065fc;
  margin-top: 5px;
  margin-left: 8px;
}
.text{
  border: hidden;
  font-size: large;
}
.titre{
  position: absolute;
  margin-left: 20px;
}
.titreBas{
  margin-left: 20px;
}
.photoHautGauche{
  margin-top: 30px;
  background-color: rgb(168, 168, 168);
  display: grid;
  max-width: 860px;
  min-width: 200px;
  height: 700px;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 30px;
  align-items: center;
}
.img{
  background-color: #FFF;
  height: 220px;
  width: 260px;
  margin-top: 70px;
  margin-left: 20px;
  border-radius: 20px;
}
.img:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.img img{
  margin-left: 5px;
  margin-top: 5px;
}
.img span{
  margin-left: 10px;
}
.photoHautGauche span:nth-child(2){
  font-weight: bold;
}
.img i{
  margin-left: 10px;
  color: #0065fc;
}
.img i:nth-child(5){
  color: rgba(0, 0, 0, 0.178);
}
.img01{
  background-color: #FFF;
  height: 220px;
  width: 260px;
  margin-top: 70px;
  margin-left: 20px;
  border-radius: 20px;
}
.img01:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.img01 img{
  margin-left: 5px;
  margin-top: 5px;
}
.img01 span{
  margin-left: 10px;
}
.img01 i{
  margin-left: 10px;
  color: #0065fc;
}
.img02{
  background-color: #FFF;
  height: 220px;
  width: 260px;
  margin-top: 70px;
  margin-left: 20px;
  border-radius: 20px;
}
.img02:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.img02 img{
  margin-left: 5px;
  margin-top: 5px;
}
.img02 span{
  margin-left: 10px;
}
.img02 i{
  margin-left: 10px;
  color: #0065fc;
}
.img02 i:nth-child(5){
  color: rgba(0, 0, 0, 0.178);
}
.img03{
  background-color: #FFF;
  height: 220px;
  width: 260px;
  margin-top: 70px;
  margin-left: 20px;
  border-radius: 20px;
}
.img03:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.img03 img{
  margin-left: 5px;
  margin-top: 5px;
}
.img03 span{
  margin-left: 10px;
}
.img03 i{
  margin-left: 10px;
  color: #0065fc;
}
.img03 i:nth-child(4){
  color:rgba(0, 0, 0, 0.178)
}
.img03 i:nth-child(5){
  color: rgba(0, 0, 0, 0.178);
}
.img04{
  background-color: #FFF;
  height: 220px;
  width: 260px;
  margin-top: 70px;
  margin-left: 20px;
  border-radius: 20px;
}
.img04:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.img04 img{
  margin-left: 5px;
  margin-top: 5px;
}
.img04 span{
  margin-left: 10px;
}
.img04 i{
  margin-left: 10px;
  color: #0065fc;
}
.img04 i:nth-child(5){
  color: rgba(0, 0, 0, 0.178);
}
.img05{
  background-color: #FFF;
  height: 220px;
  width: 260px;
  margin-top: 70px;
  margin-left: 20px;
  border-radius: 20px;
}
.img05:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.img05 img{
  margin-left: 5px;
  margin-top: 5px;
}
.img05 span{
  margin-left: 10px;
}
.img05 i{
  margin-left: 10px;
  color: #0065fc;
}
.photoHautGauche img{
  border-radius: 20px 20px 0px 0px;
  height: 150px;
  width: 250px;
}
.photoHautDroite{
  height: 700px;
  width: 330px;
  border-radius: 20px;
  float: right;
  margin-top: -700px;
  margin-right: 50px;
  background-color: rgb(168, 168, 168);
}
.img1{
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  height: 170px;
  width: 310px;
  margin-top: 80px;
  margin-left: 10px;
  margin-bottom: -50px;
  display: flex;
}
.img1:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.img1 img{
  margin-top: 10px;
  margin-left: 5px;
  border-radius: 30px;
  height: 150px;
  width: 150px;
}
.img1 span{
  color: #0065fc;
  margin-top: 20px;
  display: contents;
  border: 1px solid black;
}
.photoBasGauche{
  background-color: #c0c0c0;
  margin-top: 30px;
  height: 600px;
  width: 50%;
  border-radius: 20px 0px 0px 20px;
  display: flex;
}
.imageBasGauche1{
  width: 240px;
  margin-left: 10px;
  height: 450px;
  margin-top: 50px;
  background-color: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.377);
  border-radius: 20px;
}
.imageBasGauche1 img{
  width: 240px;
  height: 400px;
  border-radius: 20px 20px 0px 0px;
  margin-bottom: 10px;
}
.imageBasGauche1 span{
  font-weight: bold;
  margin-left: 10px;
}
.imageBasGauche2{
  margin-left: 40px;
  margin-top: 50px;
  height: 250px;
  width: 300px;
  background-color: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.377);
  border-radius: 20px;
}
.imageBasGauche2 img{
  height: 200px;
  width: 300px;
  border-radius: 20px 20px 0px 0px;
  margin-bottom: 10px;
}
.imageBasGauche2 span{
  font-weight: bold;
  margin-left: 10px;
}
.imageBasGauche3{
  height: 200px;
  width: 300px;
  margin-top: 350px;
  margin-left: -300px;
  background-color: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.493);
  border-radius: 20px;
}
.imageBasGauche3 img{
  height: 150px;
  width: 300px;
  border-radius: 20px 20px 0px 0px;
  margin-bottom: 10px;
}
.imageBasGauche3 span{
  font-weight: bold;
  margin-left: 10px;
}
.photoBasDroite{
  float: right;
  margin-top: -600px;
  background-color: #c0c0c0;
  height: 600px;
  width: 50%;
  display: flex;
  border-radius: 0px 20px 20px 0px;
}
.imageBasDroite1{
  width: 240px;
  height: 450px;
  margin-top: 50px;
  background-color: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.377);
  border-radius: 20px;
}
.imageBasDroite1 img{
  width: 240px;
  height: 400px;
  border-radius: 20px 20px 0px 0px;
  margin-bottom: 10px;
}
.imageBasDroite1 span{
  font-weight: bold;
  margin-left: 10px;
}
.imageBasDroite2{
  margin-left: 40px;
  margin-top: 50px;
  height: 250px;
  width: 300px;
  background-color: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.377);
  border-radius: 20px;
}
.imageBasDroite2 img{
  height: 200px;
  width: 300px;
  border-radius: 20px 20px 0px 0px;
  margin-bottom: 10px;
}
.imageBasDroite2 span{
  font-weight: bold;
  margin-left: 10px;
}
.imageBasDroite3{
  background-color: #FFF;
  height: 200px;
  width: 300px;
  margin-top: 350px;
  margin-left: -300px;
  border: 1px solid rgba(0, 0, 0, 0.493);
  border-radius: 20px;
}
.imageBasDroite3 img{
  height: 150px;
  width: 300px;
  border-radius: 20px 20px 0px 0px;
  margin-bottom: 10px;
}
.imageBasDroite3 span{
  font-weight: bold;
  margin-left: 10px;
}



/* ICI C EST POUR LES PLUS PETITS ECRAN */

@media all and (max-width: 1024px)
{
  .nav{
    flex-direction: column;
  }
  .logo img{
    width: 70%;
  }
  .filtre{
    flex-direction: column;
  }
  .icon{
    margin: 5px;
  }
  .photo{
    flex-direction: column;
    text-align: center;
    width: 250px;
    margin-left: 120px;
  }
}







